<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>About Us</title>
  </head>
  <body>
    <nav>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/about">About</a>
        </li>
        <li>
          <a href="/contact">Contact</a>
        </li>
      </ul>
    </nav>

    {% include 'header.html' %}
    <h1>Contact Us</h1>
    <p>
      <b>email: kamohelokoali201@gmail.com</b>
    </p>
    {% include 'footer.html' %}
  </body>
</html>
